/*************** css copied from ru-mini-AY2425-sem2 ***************/
.d-flex {
  backface-visibility: hidden;
}

.button:hover {
    background: #2a00b3; 
    transition: all 0.3s ease;
}
.learn-button {
    display: block;
    user-select: none;
    cursor: pointer;
    vertical-align:top;
    border: none;
    padding: 20px 15px;
    font-size: .8em;
    background: #e30b5d;
    font-weight:700;
    text-transform:uppercase;
    color: #ffffff;
    letter-spacing:0.5px;
    font-size:1.2rem;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    border-radius: 35px;
    margin: auto;
    width:70%;
    -webkit-font-smoothing: antialiased;
}       
.learn-button:hover {
    background: #2a00b3; 
    transition: all 0.3s ease;
}


/*************** new css ***************/


@media screen and (min-width: 1500px){
.resource-search .navigation-search {
    height: 350px;
    overflow: hidden;
}

.featured-banner-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-size: 18px;
    cursor: pointer;
    vertical-align: middle;
}

.icon-small {
    margin-bottom: 5px;
}

.tooltip-container {
    display: inline;
    align-items: center;
    position: relative;
    border-right: 1px solid #333333;
    padding-right: 2px;
    margin-right: 6px;
    margin-left: -6px;
}

.tooltip-container .dropdown-tooltip {
    display: none;
    width: 240px;
    padding: 1rem 1.25rem;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-size: 0.875rem;
    line-height: 1.5;
    transform: translateX(-110px);
}

.tooltip-container:hover .dropdown-tooltip {
    display: block;
}

.title {
    text-transform: capitalize;
}

.resource-search .navigation-search .search-box a {
    text-decoration: none;
}

.resource-search .navigation-search .search-box {
   background: rgba(255, 255, 255, 0.7); 
   opacity: 0.95;
   border-radius: 20px;
}

@media screen and (min-width: 768px){
    .resource-search-dropdown-mobile .dropdown .dropdown-toggle {
        padding-left: 8px;
        border-left: 1px solid #333333;
        border-right: none !important;
    } 

    .resource-search .navigation-search .search-box .form-group input {
        height: 50px;
        border-radius: 15px;
    }   

    .resource-search .navigation-search .search-box .btn-common {
        padding: 0 12px;
        height: 50px;
        border-radius: 15px;
    }
}

.cta-button {
    margin-top: 20px;
    padding: 5px 15px;
    font-size:0.875rem;
    width: auto;
    min-width: 150px;
}

@media screen and (min-width: 768px){
    .cta-button {
    padding: 10px 25px;
    font-size:1rem;
    min-width: 200px;
    }
}

.input-group.datepicker {
    border-radius: 15px;
    max-width: none;
    padding: 8px 20px;
}

.input-group.datepicker li {
    margin-right: 0 !important;
}

.input-group.datepicker span.text-date {
    font-size: 1rem;
}

.whats-on h1.title {
    font-size: 2.25rem;
}

.whats-on .container-custom .tab-content .tab-pane .item h4.title {
    color: #333;
}

.whats-on .container-custom .tab-content .tab-pane .small-item h4 {
    color: #333;
}

@media screen and (min-width: 768px){
    .whats-on h1.title {
        font-size: 3rem;
    }
}


.icon-wordpress {
    background: url('icon-blog.svg') no-repeat center center;
}

.carousel-discover .container-custom .item img {
    border-radius: 20px;
}

.carousel-resource {
    margin-top: 0;
    margin-bottom: 150px;
}

.carousel-resource .container-custom {
    /* all the rules below remove from original css */
    max-width: 1190px;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-resource-row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.carousel-resource-card {
    margin: 15px 0;
}

.carousel-resource .container-custom .item {
    box-shadow: none;
    overflow: hidden;
    border-radius: 20px;
}

.carousel-resource .container-custom .item:after {
    background: #000;
    opacity: 0.6;
}

.carousel-resource .container-custom .item:hover {
    box-shadow: none !important;
}

.carousel-resource .container-custom .item:hover:after {
    background: #0644d7;
    opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    /* all the rules below remove from original css */
    .carousel-resource .container-custom .item .text h5 {
        font-size: 1.75rem;
    }
    .carousel-resource .container-custom .item .text p {
        font-size: 0.875rem;
    }
}

.header .dropdown-hours .dropdown-menu-hours {
    min-width: 460px;
    left: 0;
    transform: unset;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    z-index: 1001;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.12);
}

/*
.header .dropdown.show .dropdown-toggle {
    color: #999;
}
*/

#dropdownMenuHours {
    color: #004282;
}

.dropdown-menu-hours h4{
    font-size: 1rem;
    color: #333;
    text-decoration: underline;
}

.dropdown-menu-hours h5{
    font-size: 0.875rem;
    color: #333;
}

.dropdown-menu-hours p{
    font-size: 0.875rem;
    margin-bottom: 5px;
}


.dropdown-menu-hours .item .status-color {
    height: 100%;
    width: 5px;
    border-radius: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

.dropdown-menu-hours .item .not-crowded {
    background-color: #3da56a;
}
.dropdown-menu-hours .item .slightly-crowded {
  background-color: #fed700;
}
.dropdown-menu-hours .item .not-crowded {
  background-color: #3da56a;
}
.dropdown-menu-hours .item .crowded {
  background-color: #ef7b00;
}
.dropdown-menu-hours .item .max-capacity {
  background-color: #ff0000;
}
.dropdown-menu-hours .item .not-available {
  background-color: #a0abb1;
}

.dropdown-menu-hours a.more-opening {
  font-family: Helvetica-Neue-Bold;
  font-size: 1rem;
  color: #003d7c;
  text-decoration: underline !important;
  margin-bottom: 1.875rem;
}

.dropdown-menu-hours a.more-opening:hover {
    color: #333;
}

.header .dropdown .dropdown-menu .bootstrap-datetimepicker-widget {
    border: 1px solid #dcdcdc;
    inset: 55px auto auto 50% !important;
}

.icon-hours {
  background: url('icon-hours.svg') no-repeat center center;
  background-size: 100% 100%;
  width: 20px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  margin-right: 5px;
}

.icon-hours-mobile {
      background: url('icon-hours-mobile.svg') no-repeat center center;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      vertical-align: top;
  }

.icon-search-mobile {
      background: url('icon-search-mobile.svg') no-repeat center center;
      background-size: 100% 100%;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      vertical-align: top;
  }

  .whats-on .container-custom .tab-content .tab-pane .item {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
  }

  .whats-on .container-custom .tab-content .tab-pane .item h4 {
    color: #333;
  }

  .whats-on .container-custom .tab-content .tab-pane .item img {
    border-radius: 20px 20px 0 0;
  }

  .whats-on .container-custom .tab-content .tab-pane .small-item {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
  }


@media screen and (min-width: 992px) {
  .whats-on .container-custom .tab-content .tab-pane .small-item:not(:last-child){
    margin-bottom: 30px;
  }
}

/** replace icon image */

.icon-search {
  background: url('icon-search.svg') no-repeat center center;
}

/** replace icon image */
.icon-menu-hamburger {
    background: url('icon-menu.svg') no-repeat center center;
}

/*
.featured-banner {
    padding: 60px 0;
    border-radius: 8px;
    overflow: hidden;
}

.featured-banner-frame {
    border-radius: 8px;
    overflow: hidden;
}

.featured-banner-content {
    background-color: #fff;
    padding: 25px 20px;
}

@media screen and (min-width: 768px) {
    .featured-banner-content {
    padding: 40px;
}
}

.featured-banner-content h2 {
    font-size: 1.8rem;
    line-height: 1.5;
}

.featured-banner-content .cta-button {
    margin-top: 20px;
    margin-left: 0;
}

.featured-banner-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .featured-banner-content h2 {
    padding-top: 20px;
    font-size: 2.5rem;
    }

    .featured-banner-content .cta-button {
        position: absolute;
        left: 40px;
        bottom: 40px;
    }
    .featured-banner-img img {
        height: 350px;
    }
}
*/